appdirs==1.4.4
astroid==2.4.2
attrs==19.3.0
black==19.10b0
certifi==2020.4.5.2
click==7.1.2
cmake==3.17.3
dlib==19.20.0
face-recognition==1.3.0
face-recognition-models==0.3.0
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.18.5
opencv-python==4.2.0.34
pathspec==0.8.0
Pillow==7.1.2
pylint==2.5.3
regex==2020.6.8
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
wrapt==1.12.1
